# --- Web Dashboard ---
dash
dash-bootstrap-components
dash-leaflet
plotly
gunicorn
Flask


# --- AI & Machine Learning ---
tensorflow>=2.16.0
xgboost==3.0.2
scikit-learn
numpy
pandas
joblib

# --- Data & Earth Engine ---
earthengine-api
geopandas
shapely
requests
